<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:dobbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
       http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd">

    <context:component-scan base-package="com.taotao.order.controllor" />
    <!--加载配置文件，获取参数-->
    <context:property-placeholder location="classpath:/properties/common.properties"/>

    <mvc:annotation-driven />
    <!--配置视图解析器-->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/jsp/" />
        <property name="suffix" value=".jsp" />
    </bean>
    <!--配置order的拦截器-->
    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/order/**"/>
            <bean class="com.taotao.order.interceptor.LoginInterceptor" />
        </mvc:interceptor>
    </mvc:interceptors>
    <!--使用webServlet 处理静态资源 或者添加资源映射标签 <mvc:resources location="/WEB-INF/js/" mapping="/js/**"/>-->
    <mvc:default-servlet-handler/>
    <!--应用dubbo服务相关配置-->
    <dubbo:application name="taotao-web"/>
    <!--配置zookeeper注册中心地址-->
    <dubbo:registry protocol="zookeeper" address="192.168.2.128:2181" />
    <!--配置应用接口-->
   <!-- <dubbo:reference interface="com.taotao.service.ItemService" id="itemService"/>-->

</beans>
